.review {
  display: flex;
  align-items: center;
  justify-content: center;
  .review__number {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }
  p {
    width: 80%;
  }
}
