<div class="container">
    <h3>Challenge Idea</h3>
    <div class="row">
        <ng-template ngFor let-product [ngForOf]="allProducts" let-i="index">
            <app-product class="product__content" [product]="product" (click)="getProduct(product.id)"></app-product>
        </ng-template>
    </div>
    <div class="row" *ngIf="selectedProduct">
        <div class="selected__item">
            <h3>{{selectedProduct.name}}</h3>
            <div *ngIf="selectedProduct && selectedProduct.pictures" class="images__container">
                <app-image-gallery class="images" [images]="selectedProduct.pictures"></app-image-gallery>
            </div>
            <div class="sort__reviews">
                <app-sorting></app-sorting>
                <app-reviews></app-reviews>
            </div>
        </div>
    </div>
</div>